/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    /* #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35% */
    #72d106 -29.09%,
    #14858d 51.77%,
    #14006b 129.35%
  );
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}

.printerInstanceChild {
  width: 100%;
  margin-bottom: 10px;
}

.massUploadContainer {
  background-color: #7a2c9e;
  position: absolute;
  left: 25%;
  width: 50%;
  bottom: 25px;
}
.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
